*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 90px;
    width: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.cardimage{
    width: 400px;
    height: 600px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.logo img{
    height: 80px;
    width: 100%;
    margin: 10px;;
}
.firstpragraph{
    margin-left: 20px;
    font-weight:  bold;
}
.searchbar{
    display: flex;
    align-items: center;
    width: 630px;

}
.selectoption{
    height: 40px;
    width: 70px;
    background-color: orange;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 15px;


}
.searchinput{
    width: 100%;
    height: 40px;
}

.searchicon{
    display: flex;
    align-items: center;
    background-color: greenyellow;
    height: 40px;
    width: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    text-align: center;
    padding: 10px;
}
.cardsection{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    height: 400px;
    width: 400px;
    box-shadow: 10px 20px 20px blue;

}
.heading{
    font-size: 30px;
    margin-left: 20px;

}
.image{
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    margin-left: 80px;
}
.seemore{
    color: aliceblue;
    text-decoration: none;
    
}
    